<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div>
          <img src="../../assets/imgs/LandingPage_EN_1024x360.jpg" alt="Banner Image" style="height:auto; width:100%" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="margin: 2% auto;">
        <ion-item>
          <ion-label position="floating">Enter Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div style="text-align: center; margin-top: 4%;">
          <ion-button href="/user-authentication" size="medium" color="dark">Email LookUp</ion-button>
        </div> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>